$clr-primary-01: #143cdb;
$clr-primary-02: #186cff;
$clr-primary-03: #002c92;
$clr-primary-04: #1f2369;

$clr-secondary-01: #00ba5d;
$clr-secondary-02: #33c87d;
$clr-secondary-03: #009951;
$clr-secondary-04: #007214;

$clr-tertiary-01: #ff0000;
$clr-tertiary-02: #ff6666;
$clr-tertiary-03: #c80000;
$clr-tertiary-04: #8c0000;

$clr-accent-01: #ffcb50;
$clr-accent-02: #ffe066;
$clr-accent-03: #faaa50;

$clr-text-01: #ffffff;
$clr-text-02: #637a85;
$clr-text-03: #455c67;
$clr-text-04: #1a313c;
$clr-text-05: #0a1a20;

$clr-ui-00: #ffffff;
$clr-ui-01: #f5f5f5;
$clr-ui-02: #dbdfe0;
$clr-ui-03: #c2c6c7;
$clr-ui-04: #afb3b4;
$clr-ui-05: #1e2e34;
$clr-ui-06: #000000;

$clr-data-01: #186cff;
$clr-data-02: #ff6666;
$clr-data-03: #33c87d;
$clr-data-04: #1a1d27;

$clr-background: #f2f3f4;

$clr-support-01: #0a9504;
$clr-support-01A: #19c201;
$clr-support-01B: #cffecd;

$clr-support-02: #205bc8;
$clr-support-02A: #009fe3;
$clr-support-02B: #c1ecff;

$clr-support-03: #df6817;
$clr-support-03A: #ff9933;
$clr-support-03B: #f8d5bd;

$clr-support-04: #cb333b;
$clr-support-04A: #ff3b3b;
$clr-support-04B: #f1c8ca;

$clr-support-05: #ffcd44;
$clr-support-05A: #ffd970;
$clr-support-05B: #ffedbb;