.container {
  width: 340px;
}

.field {
  padding: 10px 20px;
  width: 340px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: $font-size-m;
  margin-bottom: 20px;
  background-color: $clr-background;
}

.btn {
  margin-left: 20px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 100%;
  line-height: 4px;
  
  & > span {
    display: block;
    padding-bottom: 1px;
  }
}