.container {
  width: 340px;
}

.field {
  padding: 10px 20px;
  width: 340px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: $font-size-m;
  margin-bottom: 20px;
  background-color: $clr-background;
}