.title {
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.subtitle {
  padding-left: 10px;
  color: $clr-secondary-02;
}

.link {
  color: $clr-secondary-02;
  font-weight: 600;
  text-decoration: underline;
  padding: 0 20px 0 10px;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 535px;

   @include mediaMax('l') {
    width: 340px;
  }
}

.block {
  display: flex;
  justify-content: space-between;
}

.text {
  padding-top: 10px;
}

.error {
  color: $clr-support-03A;
}

.placeholder {
  color: transparent;
}



.field {
  padding: 10px 20px;
  width: 340px;
  border-radius: 0;
  border: none;
  outline: none;
  font-size: $font-size-m;
}

.button {
  margin-top: 20px;
}

.subBlock {
  .field {
    width: 160px;
  }

  &:last-child {
    margin-left: 20px;
  }
}

.policy {
  padding-top: 10px;
  width: 340px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.checkbox {
  transform: scale(1.5);
  margin-top: 6px;
  margin-left: 3px;
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}

.policyText {
  text-align: start;
  text-decoration: underline;
  &:disabled {
    color: rgba(255, 255, 255, 0.541);
    cursor: default;
  }
}
