.title {
  padding-top: 80px;
  padding-bottom: 40px;
}

.title2 {
  padding-top: 80px;
  padding-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 535px;

   @include mediaMax('l') {
    width: 340px;
    margin-left: 0px;
  }

  @include mediaMin('xl') {
    margin-left: 0px;
  }
}

.block {
  display: flex;
  justify-content: space-between;
}

.text {
  padding-top: 10px;
}

.error {
  color: $clr-support-03A;
}

.placeholder {
  color: transparent;
}

.link {
  padding-top: 40px;
  text-decoration: underline;
  font-weight: 600;
}

.field {
  padding: 10px 20px;
  width: 340px;
  border-radius: 0;
  border: none;
  outline: none;
  font-size: 16px;
}

.button {
  margin-top: 20px;
}

.subBlock {
  .field {
    width: 160px;
  }

  &:last-child {
    margin-left: 20px;
  }
}

.policy {
  padding-top: 10px;
  width: 340px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.checkbox {
  margin-top: 3px;
  cursor: pointer;
}

.policyText {
  text-align: start;
  text-decoration: underline;
}