.container {
  top: -30px;
  position: fixed;
  z-index: 201;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  padding-top: 30px;
  background-color: $clr-data-02;
  color: $clr-text-01;
  width: 535px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: .2s;
  flex-grow: 1;
  gap: 20px;
  
  &.active {
    padding: 50px 20px 20px;
  }

  @include mediaMax('l') {
    width: 340px;
    margin-left: 0px;
  }

  @include mediaMin('xl') {
    margin-left: 0px;
  }
}

.btn {
  width: 100%;
  text-align: start;

  &.active {
    &::after {
      content: "";
      display: inline-block;
      background-color: white;
      border-radius: 100%;
      width: 5px;
      height: 5px;
      margin-left: 10px;
      margin-bottom: 2px;
    }
  }
}

.bg {
  z-index: 200;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($clr-support-02, 0.5);
}