.header {
  z-index: 100;
  display: block;
  position: fixed;
  right: 40px;
  top: 40px;

  button {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  

  @include mediaMin('l') {
    display: none;
    
  }
}