.firstLoading {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $clr-primary-01;
  color: $clr-ui-03;
  gap: 30px;
}