.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $clr-ui-02;
  color: $clr-primary-03;
  transition: .3s;

  &.saved {
    background-color: $clr-data-03;
  }

  &.changed {
    background-color: $clr-accent-02;
  }

  &.error {
    background-color: $clr-data-02;
  }
}

.item {
  width: 120px;
  text-align: center;
  text-wrap: nowrap;
}