.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $clr-ui-02;
  color: $clr-primary-03;

  &.saved {
    background-color: $clr-data-03;
  }

  &.error {
    background-color: $clr-data-02;
  }
}

.item {
  width: 100px;
  text-align: center;
}