.card {
  transition: .3s;
  background-color: $clr-text-01;
  color: $clr-primary-01;
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  position: relative;

  .firstItem {
    top: 0;
    left: 0;
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: transparent;
  }

  &.winner {
    .firstItem {
      background-color: $clr-data-03;
    }
  }

  &.myCard {
    background-color: $clr-data-02;
    color: $clr-text-01;
  }
}

.item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 85%;
  min-width: 18px;

  &:last-child {
    margin-left: auto;
    text-align: end;
    min-width: 40px;
  }
}